body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: bold;
	background-color: #849d8f;
	color: #ffffff;
}

a {
	color: inherit;
	text-decoration: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
}

.site-navigation,
.dropdown,
.user-navigation {
	list-style: none;
}

.navigation-item > a,
.footer-navigation-list a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.navigation-item > a {
	padding: 7px 12px;
}

.navigation-item > a:focus,
.navigation-item > a:hover  {
	background-color: #f7f6f3;
	color: #333333;
	border-radius: 20px;
	outline: 0;
}

.navigation-item > a:active {
	background: #ededed;
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.site-navigation-current > a {
	background-color: #d07058;
	border-radius: 20px;
	padding: 7px 12px;	
}

.dropdown {
	width: 144px;
	height: 170px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	background: #f8f7f4;
	border-radius: 5px;
	border: 1px solid rgba(194, 206, 199, 0.52);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4)
}

.dropdown li:not(:first-child) {
	font-weight: normal;
}

.dropdown li:first-child {
	border-bottom: 1px solid rgba(53, 53,53, 0.2)
}

.dropdown a:hover,
.dropdown a:focus {
	background-color: #fbded8;
	border: 1px solid rgba(194, 206, 199, 0.52);
	outline: 0;
}

.dropdown a:active {
	background: #f6b5a5;
}

.dropdown-current a {
	background: #d07058;
	color: #ffffff;
}
.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

}

li[class^="header"] > a {
	padding: 7px 16px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

li[class^="header"] > a:hover,
li[class^="header"] > a:focus {
	background-color: #f7f6f3;
	color: #333333;
	outline: 0;
}

.header-search a {
	border-radius: 50%;
}

 input[type="search"],
 input[type="text"],
 input[type="password"],
 input[type="email"],
 .modal-feedback textarea {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 13px;
	border: 1px solid #d3d3d2;
	border-radius: 6px;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: #999999;
}

.user-navigation input[type="search"] {
	width: 309px;
}

.user-navigation input[type="text"],
.user-navigation input[type="password"] {
	width: 226px;
}

input[type="search"]:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
.modal-feedback textarea:hover {
	border: 2px solid #c7c6c5;
}

input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.modal-feedback textarea:focus {
	border: 2px solid #8fbdec;
	outline: 0;
}

.header-login-form a {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header-login-form a:hover,
.header-login-form a:focus {
	color: #e84d37;
	border-bottom: 1px solid rgba(236, 89, 60, 0.3);
	outline: 0;
}



.btn {
	background: linear-gradient( 90deg, rgb(231,74,53) 0% , rgb(242,104,67) 100%);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	color: #ffffff;
	border: none;
}

.btn:hover,
.btn:focus {
	background: 
		linear-gradient( 90deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,.2) 100% ),
		linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100% );
	outline: 0;
}

.btn:active {
	background: 
		linear-gradient( 90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100% ),
		linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	box-shadow: inset 0 2px 2px 0 #942718; 
}

.login-form-btn {
	padding: 10px 25px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 22px;
}

.table-basket {
	background-color: #f8f7f4;
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
}

.table-basket img {
border-radius: 50%;
}

.table-basket td {
	padding-right: 30px;
}

.basket-btn {
	padding: 10px 14px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 20px
}

.basket-price {
	color: #999999;
}

.basket-sum {
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}

.header-contacts-time {
	font-size: 14px;
	line-height: 16px;
}

.header-contacts-number {
	font-size: 22px;
	line-height: 24px;
}

.slider h2 {
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
}

.slide-btn {
	padding: 10px 40px;
	border-radius: 31px;
	font-size: 32px;
	line-height: 44px;
}

.offer-one,
.offer-two {
	width: 560px;
	height: 229px;
	border-radius: 15px;
}

.offer-one {
	background: #681021 url("../img/razz.jpg") no-repeat;
}

.offer-two {
	background: #472c1f url("../img/chocolate.jpg") no-repeat;
}

.offer h3 {
	font-size: 35px;
	line-height: 41px;
}

.offer p {
	font-size: 18px;
	line-height: 22px;
}

.offer-btn {
  background: linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  padding: 12px 22px;
  border-radius: 22px;
  font-size: 18px;
  line-height: 24px;
}

.catalog-list{
	list-style: none;
}

.catalog-item {
	width: 267px;
}
.catalog-item-image img{
	border-radius: 50%;
}

.catalog-title {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-weight: 500;
	text-align: center; 
}

.catalog-item-price {
	font-size: 45px;
	line-height: 45px;
}

.kilo {
	font-size: 30px;
	font-weight: 45px;
}

.catalog-item-btn {
	padding: 10px 17px;
	border-radius: 19px;
}

.features {
	width: 1145px;
	height: 370px;
	background: #d3c8b0 url(../img/waffle.jpg) repeat;
	color: #323232;
	font-weight: normal;
	border-radius: 15px;
}

.blog,
.subscription {
	width: 560px;
	height: 220px;
	border-radius: 15px;
}

.blog {
	background: #ffffff url("../img/Strawberry.jpg") no-repeat;	
}

.blog h3 {
	color: #5a5a5a;
	line-height: 22px;
	font-weight: 500;
}

.blog h4 {
	width: 282px;
}

.blog a {
	color: #353535;
	border-bottom: 2px solid #353535;
	font-size: 24px;
	line-height: 30px;
}

.subscription {
	background: #f8f7f4 url("../img/subscriber.png") no-repeat;
}

.subscription p {
	color: #5a5a5a;
	font-weight: normal;
}

.subscription input[type="email"] {
	width: 353px;
}

.subscription-btn {
	padding: 10px 18px;
	border-radius: 22px;
}

.features h1 {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
}

.address {
	width: 302px;
	height: 305px;
	border-radius: 15px;
	color: #323232;
	background: #ffffff;
}

.address p {
	font-weight: normal;
}

.address p:first-child,
.address p:nth-child(3) {
	font-size: 14px;
	line-height: 20px;
}


.address p:nth-child(2) {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.address p:nth-child(4) {
	font-size: 18px;
	line-height: 22px;
}

.address p:last-child {
	font-size: 14px;
	line-height: 22px;
}

.address-btn {
	padding: 10px 27px;
	border-radius: 22px;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
}



.breadcrumbs a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.page-title {
	font-size: 35px;
	line-height: 41px;
}

.filters fieldset {
	border: none;
	background: rgba(248, 247, 244, 0.2); 
	border-radius: 18px;
}

.filters legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filters label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.filter-btn {
	padding: 9px 29px;
	border: 2px solid #ffffff;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
}

.filter-btn:hover,
.filter-btn:focus {
	color: #323232;
	background: #ffffff;
	outline: 0;
}

.filter-btn:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
  border: none;
}

.pagination-list {
	list-style: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.pagination-item a {

}

.pagination-item-current a {
	background: #ffffff;
	color: #353535;
	border-radius: 50%;
}

.pagination-item a:hover,
.pagination-arrow a:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.pagination-item a:active {
	background: #ffffff;
	color: #353535;
	border-radius: 50%;
}

.footer-navigation {
	font-size: 13px;
	line-height: 18px;
}

.footer-social,
.footer-navigation-list {
	list-style: none;
}

.footer-navigation-list li:not(:first-child) {
	font-weight: normal;
}

.footer-copyright {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.footer-copyright a:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.feedback-text {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.modal-feedback input[type="text"] {
	width: 253px;
}

.modal-feedback textarea {
	width: 413px;
	height: 138px;
}

.feedback-btn {
	padding: 10px 18px;
	border-radius: 22px;
}